<body>
    <div id="editButtons">
        <a href="/users/{{admin.id}}/edit" class="btn btn-success m-1">Edit Users</a>
        <a href="/posts/{{admin.id}}/edit" class="btn btn-primary m-1">Edit Posts</a>
        <a href="/comments/{{admin.id}}/edit" class="btn btn-info m-1">Edit Comments</a>
        <a href="/categories/{{admin.id}}/edit" class="btn btn-danger m-1">Edit Categories</a>
        <a href="/dates/{{admin.id}}/edit" class="btn btn-light m-1">Edit Dates</a>
    </div>

    <div id="seeButtons">
        <h1>Administration</h1>
        <p>Lets see how everything goes</p>
        <a href="/users/{{admin.id}}" class="btn btn-success m-1">See all users</a>
        <a href="/posts/{{admin.id}}" class="btn btn-primary m-1">See all posts</a>
        <a href="/comments/{{admin.id}}" class="btn btn-info m-1">See all comments</a>
        <a href="/categories/{{admin.id}}" class="btn btn-danger m-1">See all categories</a>
        <a href="/dates/{{admin.id}}" class="btn btn-light m-1">See all dates</a>
        <div id="searcher">
            <a href="/search/{{admin.id}}" class="btn btn-light m-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg>
                Search
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form action="../update/{{doc.id}}" onsubmit="noFieldValue(event, post)" class="m-2 w-50">
            <div class="mt-3">
                <label for="title">Write the title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="{{doc.title}}">
            </div>
            <div class="mt-3">
                <label for="content">Write the content</label>
                <input type="text" name="content" id="content" class="form-control" placeholder="{{doc.content}}">
            </div>
            <div class="mt-3">
                <label for="media">Select an image</label>
                <input type="file" name="media" id="media" class="form-control" accept="image/png, image/gif, image/jpeg">
            </div>
            <div class="mt-3">
                <label for="mediaAlt">Write the alt of the image. <strong>If you do not change the alt but the image, the alt will keep been the same as before</strong></label>
                <input type="text" name="mediaAlt" id="mediaAlt" class="form-control" placeholder="{{doc.mediaAlt}}">
            </div>
            <div class="mt-3">
                <label for="category">Select the category that this post will have</label>
                <select name="category" id="category" class="form-control">
                    <option value="none">Same as before</option>
                    {{#each categories}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mt-3">
                <label for="date">Select the date that this post will have</label>
                <select name="date" id="date" class="form-control">
                    <option value="none">Same as before</option>
                    {{#each dates}}
                    <option value="{{date}}">{{date}}</option>
                    {{/each}}
                </select>
            </div>

            <h4 class="mt-5">Change this only in required situations</h4>

            <div class="mt-3">
                <label for="id">Write the id of the post</label>
                <input type="text" name="id" id="id" class="form-control" placeholder="{{doc.id}}">
            </div>
            <div class="mt-3">
                <label for="userId">Write the id of the user that made the post</label>
                <select name="userId" class="form-control" id="userId">
                    <option value="none">Same as before</option>
                    {{#each user}}
                    <option value="{{id}}">{{id}} <strong>{{name}}</strong></option>
                    {{/each}}
                </select>
            </div>
            <div class="mt-3">
                <label for="email">Write the email of the user that made the post</label>
                <select name="email" class="form-control" id="email">
                    <option value="none">Same as before</option>
                    {{#each user}}
                    <option value="{{email}}">{{email}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mt-3">
                <label for="userName">Write the user name that made the post</label>
                <select name="userName" class="form-control" id="userName">
                    <option value="none">Same as before</option>
                    {{#each user}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mt-3">
                <label for="comments">Write how many comments does this post have</label>
                <input type="number" name="comments" id="comments" class="form-control" placeholder="{{doc.comments}}">
            </div>
            <div class="mt-3">
                <label for="likes">Write how many likes does this post have</label>
                <input type="number" name="likes" id="likes" class="form-control" placeholder="{{doc.likes}}">
            </div>
            <div class="mt-3">
                <label for="dislikes">Write how many dislikes does this post have</label>
                <input type="number" name="dislikes" id="dislikes" class="form-control" placeholder="{{doc.dislikes}}">
            </div>
            <button type="submit" class="btn btn-info mt-3"> Update the post</button>
        </form>
    </div>
</body>