<body>
    <div id="editButtons">
        <a href="/users/{{admin.id}}/edit" class="btn btn-success m-1">Edit Users</a>
        <a href="/posts/{{admin.id}}/edit" class="btn btn-primary m-1">Edit Posts</a>
        <a href="/comments/{{admin.id}}/edit" class="btn btn-info m-1">Edit Comments</a>
        <a href="/categories/{{admin.id}}/edit" class="btn btn-danger m-1">Edit Categories</a>
        <a href="/dates/{{admin.id}}/edit" class="btn btn-light m-1">Edit Dates</a>
    </div>

    <div id="seeButtons">
        <h1>Administration</h1>
        <p>Lets see how everything goes</p>
        <a href="/users/{{admin.id}}" class="btn btn-success m-1">See all users</a>
        <a href="/posts/{{admin.id}}" class="btn btn-primary m-1">See all posts</a>
        <a href="/comments/{{admin.id}}" class="btn btn-info m-1">See all comments</a>
        <a href="/categories/{{admin.id}}" class="btn btn-danger m-1">See all categories</a>
        <a href="/dates/{{admin.id}}" class="btn btn-light m-1">See all dates</a>
        <div id="searcher">
            <a href="/search/{{admin.id}}" class="btn btn-light m-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg>
                Search
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form action="create/send" onsubmit="registerChecker(event)" class="m-2 w-50">
            <div class="mt-3">
                <label for="email">Write the email</label>
                <input type="email" name="email" id="email" class="form-control" required="true">
            </div>
            <div class="mt-3">
                <label for="name">Write the user name</label>
                <input type="text" name="name" id="name" class="form-control" required="true">
            </div>
            <div class="mt-3">
                <label for="passwd">Write a new password. <strong>If you don't write anything, the password won't change</strong></label>
                <input type="password" name="passwd" id="passwd" class="form-control" required="true">
            </div>
            <div class="mt-3">
                <label for="repeatPasswd">Repeat a new password</label>
                <input type="password" name="repeatPasswd" id="repeatPasswd" class="form-control">
            </div>
            
            <h4 class="mt-5">Optional</h4>
            
            <div class="mt-3">
                <label for="userDescription">Write the user description</label>
                <textarea name="userDescription" id="userDescription" class="form-control"></textarea>
            </div>
            <div class="mt-3">
                <label for="image">Select the user profile image</label>
                <input type="file" name="image" id="image" class="form-control" accept="image/png, image/gif, image/jpeg">
            </div>
            <div class="mt-3">
                <label for="id">Write the user ID</label>
                <input type="text" name="id" id="id" class="form-control">
            </div>
            <div class="mt-3">
                <label for="publications">Write how many posts does the user have</label>
                <input type="number" name="publications" id="publications" class="form-control">
            </div>
            <div class="mt-3">
                <label for="comments">Write how many comments does the user have</label>
                <input type="number" name="comments" id="comments" class="form-control">
            </div>
            <div class="mt-3">
                <label for="totalLikes">Write how many likes does the user have in all of it's posts and comments</label>
                <input type="number" name="totalLikes" id="totalLikes" class="form-control">
            </div>
            <div class="mt-3">
                <label for="totalDislikes">Write how many dislikes does the user have in all of it's posts and comments</label>
                <input type="number" name="totalDislikes" id="totalDislikes" class="form-control">
            </div>
            <button type="submit" class="btn btn-success mt-3"> Create the user </button>
        </form>
    </div>
</body>