<div id="editButtons">
    <a href="/users/{{admin.id}}/edit" class="btn btn-success m-1">Edit Users</a>
    <a href="/posts/{{admin.id}}/edit" class="btn btn-primary m-1">Edit Posts</a>
    <a href="/comments/{{admin.id}}/edit" class="btn btn-info m-1">Edit Comments</a>
    <a href="/categories/{{admin.id}}/edit" class="btn btn-danger m-1">Edit Categories</a>
    <a href="/dates/{{admin.id}}/edit" class="btn btn-light m-1">Edit Dates</a>
</div>

<div id="seeButtons">
    <h1>Administration</h1>
    <p>Lets see how everything goes</p>
    <a href="/users/{{admin.id}}" class="btn btn-success m-1">See all users</a>
    <a href="/posts/{{admin.id}}" class="btn btn-primary m-1">See all posts</a>
    <a href="/comments/{{admin.id}}" class="btn btn-info m-1">See all comments</a>
    <a href="/categories/{{admin.id}}" class="btn btn-danger m-1">See all categories</a>
    <a href="/dates/{{admin.id}}" class="btn btn-light m-1">See all dates</a>
    <div id="searcher">
        <a href="/search/{{admin.id}}" class="btn btn-light m-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg>
            Search
        </a>
    </div>
</div>

<a href="/dates/{{admin.id}}/create" class="btn btn-success m-1 mt-3 mb-3 d-block w-50"> Create dates </a>
<p>Editting this collection could cause a <strong class="text-red">fatal error</strong>. Be carefull</p>
{{#each dates}}
<a href="edit/{{id}}" class="btn btn-info m-1"> Edit {{day}}</a>
<button onclick="showAlertDelete({{counter}})" class="btn btn-danger m-1"> Delete {{day}} </button>
<div id="alertDelete{{counter}}" class="alertDelete">
    <p>Are you sure you want to <strong class="text-red">delete</strong> this date?</p>
    <p>If you delete a date, all documents with that date will keep the date, but the searcher will not be able to find them.</p>
    <a href="delete/{{id}}" class="btn btn-danger m-1"> Yes </a>
    <button onclick="hideAlertDelete({{counter}})" class="btn btn-success m-1"> No </button>
</div>
<div>
    <p>Day: {{date}}</p>
    <p>Publications with that date: {{times}}</p>
    <p>Id: <strong>{{id}}</strong></p>
</div>
<hr>
{{/each}}